body {
    display: table-cell;
    display: inline;
    background: #BCCCD1;
}


/* section tag encapsulate complete tvguide content. Makes it possible to continue development without effect layout of tablau */

#tv-guide {
    margin-left: 20%;
    margin-right: 20%;
}


/* 
** UNDER DEVELOPMENT **
 div to contain XMLTV - logo. Contains only text now
*/

#xml-tv-logo {
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 35px;
}


/* controls visulazation of channels logo and programme info */

#total-channel-info {
    float: left;
    padding: 3%;
    min-width: 300px;
}


/* Table containing tv tablau */

table {
    width: 100%;
    border: 0.5px solid #24344C;
}


/* Set background colour and height to entire row for program */

table,
th,
tr {
    background: #D3D3D3;
    height: 25px;
}


/* set style to table head inside <div> total-channel-info */

#total-channel-info,
th {
    text-align: left;
    height: 40px;
    width: 100px;
    border-collapse: collapse;
    font-size: 20px;
}


/* set style to tables row for <div> program-title. affects entire row, so <div> program-time affects aswell*/

tr,
#program-title {
    font-size: 14px;
    border: 0.5px solid black;
    font-size: 16px;
}


/* sets img logo size to take up all space. Need to be put in sourunding <div> for set the size that logo will have */

.logo {
    height: 100%;
    width: 100%;
}


/* <div> sourounding img .logo to set the size */

#id-logo {
    height: 70px;
    width: 70px;
}