/* .program {
    float: left;
    margin-right: 10px;
    background-color: blueviolet;
} */

body {
    display: table-cell;
    /* vertical-align: middle; */
    align-content: center;
    display: inline;
}

table,
th,
tr {
    background: burlywood;
    border: 1px solid black;
}

#total-channel-info th {
    align-content: center;
    position: relative;
}

td {
    border: black;
}

#program-time {
    float: left;
    position: absolute;
}

#program-title {
    float: right;
    overflow-wrap: break-word;
    position: absolute;
}

.logo {
    height: 100%;
    width: 100%;
}

#id-logo {
    height: 70px;
    width: 70px;
}

#total-channel-info {
    float: left;
    padding: 3%;
}